* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-image: url("https://private-user-images.githubusercontent.com/203570197/428633230-5f3e310e-bee1-44ba-bf98-cac826315afa.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NDM2MDIwMDMsIm5iZiI6MTc0MzYwMTcwMywicGF0aCI6Ii8yMDM1NzAxOTcvNDI4NjMzMjMwLTVmM2UzMTBlLWJlZTEtNDRiYS1iZjk4LWNhYzgyNjMxNWFmYS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwNDAyJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDQwMlQxMzQ4MjNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1kYWM5OWQwMGZmOWYzMDdhNWU1NzFiNWQ0NzBiOGIxZWI0M2Y0YjQ3MTI1N2NkMDFkNWM5MDRiMDY1MmYyOGE4JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.LxBxc9xAeUJ5YVir_4Mr4stTkA5uxIITjG_0YlOQyfI");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("https://private-user-images.githubusercontent.com/203570197/428633605-52080a20-c7c5-4721-84b1-6423071a8988.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NDM2MDIwMDMsIm5iZiI6MTc0MzYwMTcwMywicGF0aCI6Ii8yMDM1NzAxOTcvNDI4NjMzNjA1LTUyMDgwYTIwLWM3YzUtNDcyMS04NGIxLTY0MjMwNzFhODk4OC5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwNDAyJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDQwMlQxMzQ4MjNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1lMjE5NmI4NGM0YjczMDVlZGU1MmQ5ZTczNmY0MWUwY2NhZGRmNjM2YTM4OWYyZWNjZmU2MTliMTUzYTMzZDA3JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.BibB5Z8sXTKxJUY8j4YZNo-L6Jzl1Gb3RUkMkzA5O_I");
    background-size: 100% 100%;
    position: relative;
}

.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 20px;
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 16px;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

h2,
p,
button {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}